ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #000;
}
.active {
    background-color: #4CAF50;
}
li {
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}


h2{
	text-align:center;
	display:flex;
}
p{
	padding-right:250px;
	}

.box1{
	text-align: justify;
	justify-content:center;
	padding:20px;
	background: rgba(0,0,0,0.8) ;
	border-radius: 40px;
	width: 90%;
	height: 200px;
	border: 4px solid #000;
	margin-bottom:20px ;
	margin-left:30px ;
	
}

.box2{
	text-align: justify;
	padding:20px;
	background: rgba(0,0,0,0.8) ;
	border-radius: 40px;
	margin-bottom:20px ;
	margin-left:30px ;
	width: 90%;
	height: 200px;	
}

.box3{
	text-align: justify;
	padding:20px;
	background: rgba(0,0,0,0.8) ;
	border-radius: 40px;
	margin-bottom:20px ;
	margin-left:30px ;
	width: 90%;
	height: 200px;
}


footer{
	color:white;
	text-align:right ;
}

.cajafooter{
	padding:20px;
	background: rgba(0,0,0,0.8) ;
	border-radius: 15px;
	margin-bottom:0px ;
	
	height: 100px;
	
	}


body{ 
		 background:url(body.jpg);
	     background-repeat:repeat-y;
		 background-attachment: fixed;
		 background-size: cover;
		 
		 color:#FFFFFF;
	}
	
	